{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Uncomment the following if a favicon is added. -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

    <title>Open Humans Data Source</title>

    <!-- Bootstrap via CDN. -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Local CSS overrides -->
    <link href="{% static "oh_data_source/main.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <h1>Google Search History &rarr; Open Humans</h1>
      <p class="lead">
        Use this tool to add Google search history data to your
        <a href="https://www.openhumans.org/">Open Humans</a> account.
      </p>
      <p class="lead">
        Learn more by visiting:<br>
        <a href="{{ oh_proj_page }}">{{ oh_proj_page }}</a>
      </p>
      {% if request.user.is_authenticated %}

        {% if request.user.rawtakeoutdata %}
        {% with request.user.openhumansmember.last_xfer_status as status %}
        <div class="panel
            {% if 'Failed' in status or 'Aborted' in status %}panel-danger
            {% elif status == 'Complete' %}panel-success
            {% else %}panel-warning{% endif %}">
          <div class="panel-heading">
            Status of latest data transfer
          </div>
          <div class="panel-body">
            <p>
              <b>Initiated:</b> {{ request.user.openhumansmember.last_xfer_datetime }} UTC<br>
              <b>Status:</b> {{ request.user.openhumansmember.last_xfer_status }}
            </p>
            {% if request.user.openhumansmember.last_xfer_status == 'Queued' or request.user.openhumansmember.last_xfer_status == 'Initiated' %}
            <p>
              Please give the data transfer a couple minutes to complete. You can
              reload this page to check for updates.
            </p>
            {% endif %}
          </div>
        </div>
        <hr>
        <p>
          Upload again to restart and overwrite.
        </p>
        <form method="post" enctype="multipart/form-data" action="{% url 'home' %}">
          {% csrf_token %}
          <p>
            <input type="file" name="file">
          </p>
          <input class="btn btn-primary" type="submit" value="Process and transfer search data">
        </form>
        {% if request.user.rawtakeoutdata %}
        <hr>
        <form method="post" action="{% url 'deletedata' %}">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit"
            value="Cancel and delete uploaded data">
        </form>
        {% endif %}
        {% endwith %}

        {# invite upload #}
        {% else %}
        <form method="post" enctype="multipart/form-data" action="{% url 'home' %}">
          {% csrf_token %}
          <p>
            <input type="file" name="file">
          </p>
          <input class="btn btn-primary" type="submit" value="Process and transfer search data">
        </form>
        {% endif %}

      {# offer oauth login #}
      {% else %}
        <h2>How it works</h2>
        <ol>
          <li><b>Get your Google Takeout file</b><br>
            You only need the "search history".</li>
          <li><b>Connect your Open Humans account</b>
            Using the button below</li>
          <li><b>Upload it here</b><br>
            It won't be permanently stored.</li>
          <li><b>Select preferred granularity</b><br>
            This makes data less sensitive.</li>
          <li><b>Resetting your data</b>
            You can use this tool again to overwrite your previous data.
          </li>
        </ol>
        {% if client_id %}
        <a
          class="btn btn-primary btn-lg"
          href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code"
          {% else %}
          class="btn btn-default disabled"
          {% endif %}
          >
          Start with Open Humans authorization
        </a>
        {% if not client_id %}
        <p class="text-muted"><i>
          This button is disabled because client_id hasn't been configured.
        </i></p>
        {% endif %}
      {% endif %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript via WaxCDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Local JavaScript -->
    <script src="{% static "oh_data_source/main.js" %}"></script>
  </body>
</html>
